.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* This makes the container take at least the full viewport height */
  width: 100%; /* Ensures the container spans the full width */
  text-align: center; /* Centers any text content */
}

.imageCity {
  width: 512px;
  height: 100%;
  object-fit: cover;
  margin: 0 auto; /* Centers the image horizontally if it's not in a flex container */
}

Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.meow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}